.btn-twitter {
  background-color: #c6c066;
  border-color: #c6c066;
}
.btn-facebook {
  background-color: #c066c6;
  border-color: #c066c6;
}
.btn-pinterest {
  background-color: #66c6c0;
  border-color: #66c6c0;
}
.jumbotron {
  min-height: 600px;
  background-image: url('images/fruit-and-veg.jpg');
  background-size: cover;
  background-attachment: fixed;
}